{% extends "base.html" %}

{% block content %}
<br>
<br>

<center><img src="/static/imgs/dexter.png"/>
    <br>
    <br>

<b><h4>Bem-vindo ao Painel de Gerenciamento da Dexter Courier</h4></b>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script language="javascript" src="/static/js/docker.js"></script>
    {% block jscode %}
    {% endblock %}
</center>


{% endblock %}